{% load static wagtailcore_tags wagtailuserbar global_navigation %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystore.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <nav class="border-b shadow-md p-4">
            <div class="max-w-6xl mx-auto flex justify-between">
                <a href="/">Home</a>
                <div>
                    {% global_nav_items as nav_items %}
                    {% for menu_page in nav_items %}
                        <a
                            href="{{ menu_page.url }}"
                            class="text-blue-500 hover:text-black transition"
                            >
                            {{ menu_page.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </nav>

        {% block hero %}{% endblock %}

        <div class="max-w-6xl mx-auto py-12">
            {% block content %}{% endblock %}
        </div>

        {% block footer %}
            <footer class="max-w-6xl mx-auto border-t py-12 my-12">
                <div class="flex justify-center space-x-4">
                    <div>
                        <a href="/">Home</a>
                    </div>
                    {% for menu_page in nav_items %}
                        <a href="{{ menu_page.url }}" class="text-black">
                            {{ menu_page.title }}
                        </a>
                    {% endfor %}
                </div>
                <div class="text-center text-sm">
                    Copyright &copy; {% now "Y" %}
                </div>
            </footer>
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mystore.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
